{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": false
    },
    "plugins": [
        "html",
        "react",
        "import",
        "jsx-a11y"
    ],
    "extends": [
        "eslint:recommended",
        "airbnb",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "no-console": "warn",
        "no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "res|response|next|err|error|req|request"
            }
        ],
        "func-names": [
            "error",
            "never"
        ],
        "no-shadow": "warn",
        "no-plusplus": "off",
        "prefer-destructuring": [
            "warn",
            {
                "array": true,
                "object": true
            }
        ],
        "no-eq-null": "warn",
        "eqeqeq": "warn",
        "no-use-before-define": "warn",
        "arrow-parens": [
            2,
            "as-needed"
        ],
        "max-len": [
            "warn",
            110,
            {
                "ignoreComments": true
            }
        ],
        "brace-style": [
            "warn",
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "indent": [
            "error",
            "tab"
        ],
        "no-tabs": [
            "error",
            {
                "allowIndentationTabs": true
            }
        ],
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "any",
                "prev": "cjs-import",
                "next": "*"
            }
        ],
        "object-curly-newline": [
            "warn",
            {
                "ImportDeclaration": {
                    "multiline": true
                },
                "ExportDeclaration": {
                    "multiline": true
                }
            }
        ],
        "no-unused-expressions": [
            "error",
            {
                "allowTernary": true
            }
        ],
        "jsx-quotes": [
            "error",
            "prefer-single"
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-indent": [
            0
        ],
        "react/static-property-placement": 0,
        "react/jsx-one-expression-per-line": "off"
    }
}